*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}


.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: burlywood;
}
.form h1{
    font-size: 3rem;
    font-family: Poppins, sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 2px solid black;
    outline: none;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color:rgb(241, 126, 81);
    color: black;
}
#submit:hover{
    cursor: pointer;
    background-color: white;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color: blueviolet;
}

/* Right side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.side img{
    width: 450px;
    height: 499px;
}
